input[type=text], input[type=password]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0043ff;
}

div.login {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}
.success{
  padding: 20px;
  background-color: green;
  color: white;
}

/* Dice Component */
.dice-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 20%;
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice {
  padding: 4px;
  background-color: tomato;
  width: 104px;
  height: 104px;
  border-radius: 10%;
  margin-right : 10px;
}
.dot{
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:white;
}

.second-face{
  display: flex ;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
  align-self :flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self :center;
}


.fourth-face , .sixth-face, .fifth-face{
  display: flex;
  justify-content: space-between;
}

.fourth-face .column , .sixth-face .column, .fifth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}
.button {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.pb-20{
  padding-bottom: 20px;
}
.disable{
  pointer-events: none;
}
.center {
  text-align: center;
  border: 3px solid #007bff;
  margin-top: 25%;
  font-size: 30px;
}
.text-center {
  text-align: center;
}
/* User List Component */
table {
  width: 750px;
  border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td, thead th {
  width: 250px;
}

thead th:last-child {
  width: 156px; /* 140px + 16px scrollbar width */
}
.users {
  border-collapse: collapse;
  margin: 0 auto;
}
.users td, .users th {
  border: 1px solid #ddd;
  padding: 8px;
}


.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff;
  color: white;
}

.export-flex{
  display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;
}